* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.calculator {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background-color: white;
}

#result {
    width: 100%;
    height: 60px;
    font-size: 30px;
    padding: 10px;
    text-align: right;
    border: none;
    background-color: #f0f0f0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    width: 100%;
    height: 60px;
    font-size: 20px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

button:nth-child(1),
button:nth-child(2),
button:nth-child(3),
button:nth-child(4),
button:nth-child(8),
button:nth-child(12),
button:nth-child(16),
button:nth-child(18),
button:nth-child(19) {
    background-color: grey;
    color: white;
}

button:nth-child(1):hover,
button:nth-child(2):hover,
button:nth-child(3):hover,
button:nth-child(4):hover,
button:nth-child(8):hover,
button:nth-child(12):hover,
button:nth-child(16):hover,
button:nth-child(18):hover,
button:nth-child(19):hover {
    background-color: grey;
}

@media (max-width: 600px) {
    .todo-container {
        width: 90%;
    }

    #todo-input {
        width: 65%;
    }
}
